---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Portfolio - RafaElDev6H057">
  <div class="mx-auto h-screen max-w-[1200px] py-0 px-24">
    <section class="flex justify-between gap-4">
      <Header />
      <main></main>
    </section>
  </div>
</Layout>
